{% extends 'nav.html' %}
{% block content %}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1> <small>Hi, {{user}} 👋</small>
      </div>

      <table
      id="table"
      data-toggle="table"
      data-toolbar=".toolbar"
      data-search="true"
      data-search-text=""
      data-height="620"
      data-sortable="true"
      data-pagination="true">
        <thead>
          <tr>
            <th data-field="id" data-sortable="true">Name</th>
            <th data-field="name" data-sortable="true">Email</th>
            <th data-field="rating" data-sortable="true">Rating</th>
            <th data-field="num" data-sortable="true">Num Graders</th>
            <th data-field="status" data-sortable="true" data-cell-style="cellStyle">Status</th>
          </tr>
        </thead>
        <tbody>
          {% for app in apps %}
          <tr>
            <td>{{app.name}}</td>
            <td>{{app.email}}</td>
            <td>{{app.rating}}</td>
            <td>{{app.num_graders}}</td>
            <td>{{app.status}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </main>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.js"></script>
<script>
  function cellStyle(value, row, index) {
    if (value === 'Accepted') {
      return {
        css: {
          background: '#c3ebc3'
        }
      }
    }
    if (value === 'Rejected') {
      return {
        css: {
          background: '#e0a19f'
        }
      }
    }
    if (value === 'Waitlisted') {
      return {
        css: {
          background: '#fcfac0'
        }
      }
    }
    return {
    }
  }
</script>
{% endblock %}
